absl-py==2.2.2
alembic
asttokens
astunparse==1.6.3
catboost
cloudpickle
colorama
colorlog
comm
contourpy==1.3.2
cycler==0.12.1
debugpy
decorator
exceptiongroup
executing
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.57.0
gast==0.6.0
google-pasta==0.2.0
graphviz
greenlet
GridDataFormats==1.0.2
grpcio==1.71.0
h5py==3.13.0
importlib_metadata
importlib_resources==6.5.2
ipykernel
ipython
jedi
joblib==1.4.2
jupyter_client
jupyter_core
keras==3.9.2
keras-tuner==1.0.2
kiwisolver==1.4.8
libclang==18.1.1
lightgbm
llvmlite==0.44.0
Mako
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline
mda-xdrlib==0.2.0
MDAnalysis==2.9.0
mdurl==0.1.2
ml_dtypes==0.5.1
mmtf-python==1.1.3
mrcfile==1.5.4
msgpack==1.1.0
munkres==1.1.4
namex==0.0.8
narwhals
nest_asyncio
nmrgnn==0.7
nmrgnn-data==1.1.0
numba
numpy==2.1.3
opt_einsum==3.4.0
optree==0.15.0
optuna
packaging==25.0
pandas==2.2.3
parso
patsy
pexpect
pickleshare
pillow
platformdirs
plotly
prompt_toolkit
protobuf==5.29.4
psutil
ptyprocess
pure_eval
pybatchclassyfire==0.1.6
Pygments==2.19.1
pyparsing
PySide6==6.9.1
python-dateutil==2.9.0.post0
pytz
PyYAML
pyzmq
rich==14.0.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn
shap
shiboken6==6.9.1
six
slicer
SQLAlchemy
stack_data
statsmodels
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.0.1
terminaltables==3.1.10
threadpoolctl==3.6.0
tomli
tornado
tqdm==4.67.1
traitlets
typing_extensions==4.13.2
tzdata==2025.2
unicodedata2
wcwidth
Werkzeug==3.1.3
wrapt==1.17.2
xgboost
zipp
annotated-types
anyio
appdirs==1.4.4
attrs
backports.tarfile==1.2.0
bcrypt
blinker
boltons==25.0.0
Bottleneck>=1.4.2
Brotli
build==1.2.2.post1
CacheControl==0.14.3
cachetools
certifi==2025.1.31
cffi
chardet
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
conda_lock==3.0.3
crashtest==0.4.1
cryptography
Deprecated
dill==0.4.0
distlib==0.3.9
dnspython
docker
dulwich==0.22.8
email_validator
ensureconda==1.4.7
et_xmlfile
fastapi==0.115.12
fastapi-cli
fastjsonschema==2.21.1
Flask
flask-cors==6.0.2
gitdb
GitPython
google-auth
graphene
graphql-core
graphql-relay
gunicorn
h11==0.14.0
h2
hpack
hplc-py==0.2.7
httpcore
httptools
httpx
hyperframe
idna
installer==0.7.0
itsdangerous
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
Jinja2
keyring==25.6.0
mlflow
mlflow-skinny
more-itertools==10.7.0
multidict
numexpr
openpyxl==3.1.5
opentelemetry-api
opentelemetry-sdk
pandarallel==1.6.5
paramiko
pkginfo==1.12.1.2
prometheus_client
prometheus_flask_exporter
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic==2.11.3
pydantic_core==2.33.1
PyNaCl
pynndescent
pyopenms==3.3.0
pyOpenSSL
pyproject_hooks==1.2.0
PyQt6==6.7.1
PyQt6_sip
PySocks
python-dotenv
python-multipart
pyu2f
PyWavelets
querystring_parser
rdkit==2024.9.6
requests==2.32.3
requests-toolbelt==1.0.0
rich-toolkit
rsa
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
SecretStorage==3.3.3
semver==3.0.4
shellingham
sip
smmap
sniffio
spark-parser==1.8.9
sqlparse
starlette==0.46.2
tomlkit==0.13.3
trove-classifiers==2025.5.9.12
typer==0.16.0
typer-slim==0.16.0
typing-inspection==0.4.0
umap-learn
uncompyle6==3.9.2
urllib3==2.3.0
uvicorn==0.34.1
uvloop==0.16.0
virtualenv==20.31.2
watchfiles
websocket-client
websockets
xdis==6.1.4
yarl
zstandard
